* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: rgba(242, 242, 242, 255);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  padding: 0 10rem;
}
.card {
  /* filter: drop-shadow(4px 8px 7px #454545); */
  box-shadow: 5px 8px 5px 7px rgba(0, 0, 0, 0.2);
}
.mainContainer .box {
  background: #fff;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.mainContainer .cardContainer {
  background: #fff;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.mainContainer .box:hover {
  box-shadow: rgba(97, 94, 112, 0.15) 0px 0px 10px 0px;
  transform: scale(1.1);
}

.mainContainer .card {
  padding: 15px 15px 0;
}

.card .image {
  background: #f9f9f9;
  width: 80%;
  margin: 10px auto 25px;
  position: relative;
}

.card .image img {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.btn {
  background-color: #3700ff;
  border: none;
  color: white;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 100px;
  flex: auto;
}

/* card.css */
.post-image {
  width: 100%; /* Set width to fill the entire card */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
}

.post-title {
  font-size: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body p {
  margin: 0;
}

.page-header {
  text-align: center;
  padding-top: 20px;
}

.floating-button {
  position: fixed;
  top: 88%;
  left: 45%;
  box-shadow: 5px 8px 5px 7px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 50px;
}

.floating-button2 {
  position: relative;
  top: 30%;
  left: 10%;

  filter: drop-shadow(4px 8px 7px #c9c9c9);
  width: 100px;
  height: 100px;
}

.custom-button-color {
  background-color: rgb(65, 65, 65);
}

.my-card:hover {
  transform: scale(1.05); /* Increase the size of the card */
  transition: transform 0.2s; /* Animation */
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body p {
  color: rgba(38, 38, 38, 0.827);
}

.card-likes {
  display: flex;
}

.card-likes p {
  margin-right: 5px;
  font-size: 14px;
}
